:root {
    --yellow : #ffc567;
    --pink : #fb7da8;
    --orange : #fd5a46;
    --purple : #552cb7;
    --green : #00995e;
    --blue : #058cd7;
    --black : black;
    --white : white;
    --ho-yellow : #ffc567;
    --ho-pink : #fb7da8;
    --ho-orange : #fd5a46;
    --ho-purple : #552cb7;
    --ho-green : #00995e;
    --ho-blue : #058cd7;
    --ho-black : black;
    --ho-white : white;
}

.top-logo {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    display: none;
}

@media screen and (max-width: 1300px) {

    * {
        transition: all 0.3s ease;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .main-content {
        padding: 10px;
    }

    .nav-bar {
        display: flex;
        width: 100%;
        padding: 0px 5px;
        justify-content: space-between;
        flex-direction: row;
    }

    .profile-container {
        padding-bottom: 5px;
    }

    .profile-container {
        position: relative;
    }

    .profile-icon {
        display: block;
        margin-right: 10px;
    }

    .sec3-icon {
        margin-right: 10px;
    }

    .nav-sec1 {
        display: none;
    }
    
    .nav-sec3 {
        padding-right: 20px;
    }

    .nav-sec2 {
        padding-left: 20px;
    }

    .top-logo {
        display: block;
        font-size: 1.3em;
        margin-bottom: 10px;
        color: var(--black);
    }

    .main-sec3, .main-sec1 {
        display: none;
    }

    .nav-icon {
        padding: 8px;
        font-size: 1.3em;
    }

    .sec2-pf-upload {
        font-size: 13px;
        height: fit-content;
    }

    .sec2-feed-text {
        margin-bottom: 5px;
    }

    .sec2-pf-img {
        width: 35px;
        height: 35px;
    }

    .pf-upload-header {
        width: 90%;
        height: fit-content;
        border: none;
        background-color: transparent;
    }

    .sec2-upload-link {
        padding: 10px;
        border: 1px solid var(--white);
    }

    .pf-upload-show {
        padding: 0px;
        background-color: transparent;
    }

    .sec2-all-post-container, .sec2-image-post-container, .sec2-video-post-container {
        padding: 10px 10px 0 10px;
        border-radius: 30px;
        border: 2px solid var(--black);
    }

    .post-username {
        font-size: 14px;
    }

    .profile-img {
        width: 30px;
        height: 30px;
    }

    .post-date {
        font-size: 14px;
    }

    .post-main {
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .post-header {
        padding: 0px 5px;
    }

    .post-detail {
        font-size: 14px;
        margin-top: 3px;
    }

    .post-footer-div {
        margin-top: 10px;
        font-size: 14px;
    }

    .all-feed, .image-feed, .video-feed {
        font-size: 0.7em;
    }

    .upload-content {
        width: 90%;
        bottom: -170px;
        border: 2px solid var(--white);
        border-radius: 25px;
    }

    .upload-textarea {
        margin-top: 5px;
    }

    .upload-file-input {
        height: 30px;
        margin-top: 10px;
    }

    .nav-profile-content {
        position: absolute;
        z-index: 5000;
        bottom: -400px;
        right: 20px;
        height: 300px;
        transform: scaleY(0);
        transform-origin: top;
        display: block;
    }

    .profile-card {
        border: 2px solid var(--white);
    }

    .pf-img {
        height: 120px;
        width: 120px;
    }

    .pf-img-upload-icon {
    position: absolute;
    left: 155px;
    bottom: 28px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    color: var(--white);
    font-size: 1.5em;
    }

    .pf-username {
        font-size: 1.6em;
    }

    .pf-wallpaper-upload-icon {
        font-size: 1.5em;
    }

    .wallpaper-upload-percentage {
        bottom: 16px;
    }

    .pf-upload-percentage {
        bottom: 30px;
    }

    .setting-content {
        right: 0;
        
    }
    
    .nav-messenger-content {
        position: absolute;
        z-index: 5000;
        bottom: -680px;
        right: -51px;
        height: 600px;
        width: 300px;
        transform: scaleY(1);
        transform-origin: top;
        display: flex;
        flex-direction: column;
        transform: scaleY(0);
        transform-origin: top;
    }

    .messenger-container {
        display: block;
        position: relative;
    }

    .nav-messenger {
        overflow-y: auto;
        padding: 8px;
        height: 50%;
        border: 3px solid var(--white);
        border-radius: 20px;
        background-color: var(--orange);
        margin-top: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-chat-container {
        height: 260px;
    }

    .nav-friends-users {
        height: 50%;
        padding: 10px;
    }

    .message-input, .message-send-btn{
        bottom: 10px;
    }

    .message-input {
        width: 180px;
    }

    .logout-icon, .retro-theme, .b-w-theme, .energy-theme {
        font-size: 1em;
    }

    .setting-content {
        width: 150px;
        padding: 5px;
    }

    .nav-chat-text {
        font-size: 0.7em;
        font-weight: bold;
    }

    .friends-user-name {
        font-size: 0.9em;
        font-weight: bold;
    }

    .upload-condition-show {
        width: 100%;
    }

    .upload-percentage {
        margin-left: 40px;
    }

    .upload-done {
        margin-right: 10px;
    }

    .uploaded-msg {
        margin-left: 90px;
    }

    .post-write-comment {
        height: 20px;
        padding-bottom: 7px;
    }

    .post-comment-input {
        border: 1.5px solid var(--black);
        font-size: 0.8em;
        width: 75%;
    }

    .comment-send-btn {
        border: 1.5px solid var(--black);
    }
}